@import "tailwindcss";

@theme {
  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-200: #a7f3d0;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
  
  --color-teal-500: #14b8a6;
  --color-teal-800: #115e59;
  
  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-200: #fecdd3;
  --color-rose-600: #e11d48;
  --color-rose-700: #be123c;
  
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c7;
  --color-amber-200: #fde68a;
  --color-amber-800: #92400e;
  
  --color-sky-50: #f0f9ff;
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-sky-800: #075985;
}

.custom-scrollbar::-webkit-scrollbar { 
  width: 0px; 
  background: transparent; 
}

.custom-scrollbar { 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@keyframes spin { 
  from { transform: rotate(0deg); } 
  to { transform: rotate(360deg); } 
}

.animate-spin-slow {
  animation: spin 20s linear infinite;
}
